{% extends "rebrand_layout.html" %}

{% block page_title %}Confirm and pay | Course{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/rebrand/schedule-course" class="link-back">Back to course schedule</a>

  <h1 class="heading-xlarge">Confirm and pay</h1>

  <p class="lede text">Check the course details and line manager details are correct. Then select the appropriate payment option from those available.</p>

  <section class="summary-section">
    <h3 class="heading-medium summary-heading">Course details</h3>
    <dl class="summary-list-inline">
      <dt>Course title</dt>
      <dd>Some name</dd>
      <dt>Start date</dt>
      <dd>20th Nov 2015</dd>
      <dt>Duration</dt>
      <dd>1 day</dd>
      <dt>Location</dt>
      <dd>London</dd>
      <dt>Price</dt>
      <dd>£235</dd>
    </dl>
    <a href="" class="summary-edit-link">change course date</a>
  </section>

  <section class="summary-section">
    <h3 class="heading-medium summary-heading">Line manager details</h3>
    <dl class="summary-list-inline">
      <dt>Name</dt>
      <dd>Simon Everest</dd>
      <dt>Email</dt>
      <dd>Simon.everest@gds.gov.uk</dd>
    </dl>
    <a href="" class="summary-edit-link">edit details</a>
  </section>

  <section class="summary-section">
    <h3 class="heading-medium summary-heading">Payment options</h3>
  </section>

  <button class="button">Confirm booking request</button>

</main>

{% endblock %}