{% extends "rebrand_layout.html" %}

{% block page_title %}Select date | Course{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/rebrand" class="link-back">Back to course description</a>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Booking a course</span>
    Select course date
  </h1>

  <p class="lede text">You need to check the availability of the course and that you can attend on the scheduled date.</p>

  <div class="booking-section">
    <h2 class="heading-large">Next available date</h2>
    <div class="summary-box">
      <h2 class="summary-box__heading heading-medium">Unconscious bias workshop</h2>
      <div class="summary-box__content">
        <dl class="summary-list-inline">
          <dt>Start date</dt>
          <dd>22nd Nov 2015</dd>
          <dt>Duration</dt>
          <dd>1 day</dd>
          <dt>Location</dt>
          <dd>London</dd>
          <dt>Price</dt>
          <dd>£235</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="booking-section">
    <h2 class="heading-large">Alternative dates</h2>

    <p class="text">If the option above does not work for you please select an alternative from the list of upcoming dates below.</p>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Start date</th>
          <th>Duration</th>
          <th>Location</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Unconscious bias workshop</td>
          <td>14th Dec 2015</td>
          <td>1 day</td>
          <td>London</td>
          <td>£235</td>
          <td><button class="button btn--secondary">select</button></td>
        </tr>
        <tr>
          <td>Unconscious bias workshop</td>
          <td>19th Feb 2016</td>
          <td>1 day</td>
          <td>Manchester</td>
          <td>£235</td>
          <td><button class="button btn--secondary">select</button></td>
        </tr>
        <tr>
          <td>Unconscious bias workshop</td>
          <td>24th Mar 2016</td>
          <td>1 day</td>
          <td>London</td>
          <td>£235</td>
          <td><button class="button btn--secondary">select</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="booking-section">
    <div class="flat-tabs">
      <ul>
        <li data-tab-pane="prebooking-info" class="active"><a href="">Before you book</a></li>
        <li data-tab-pane="tsandcs"><a href="">Terms and conditions</a></li>
      </ul>
    </div>

    <div class="tab-pane" id="prebooking-info">
      <p class="text">You'll need:</p>
      <ul class="list-bullet">
        <li>to be eligible for the course</li>
        <li>have approval from your line manger (or equivalent)</li>
        <li>have a PO from your finance team, a GPC card or the name and email of your finance approver</li>
      </ul>
      <p class="text">Once a request has been made you and your line manager will receive a receipt of your request.</p>
      <p class="text">Your finance department and course provider will also be asked to confirm your request. This should take about 1 week.</p>
    </div>

    <div class="tab-pane text" id="tsandcs">
      <!-- given course, include right ts and cs -->
      {% include "partials/termsandconditions.html" ignore missing %}
    </div>

  </div>

  <div class="panel-indent">
    <p>By booking this course you are agreeing to the terms and conditions</p>
  </div>

  <div class="button-group--stacked">
    <a href="/rebrand/course-payment" class="button">Book selected course</a>
  </div>

</main>

{% endblock %}