{% extends "rebrand_layout.html" %}

{% block page_title %}Course booked | Course{% endblock %}

{% block content %}

<main id="content" role="main">

  <a href="/rebrand/course-payment" class="link-back">Back to payment method</a>

  {% include "partials/csl_logo.html" ignore missing %}

  <h1 class="heading-xlarge visually-hidden">Booking request confirmation</h1>

  <div class="callout">
    <h2 class="heading-large callout__heading">Booking request submitted</h2>
    <div class="lede">
      <span>Course</span>
      <p class="ref-number">Running small projects</p>
      <span>Booking reference</span>
      <p class="ref-number">HD123gh</p>
    </div>
  </div>

  <p class="with-hr"><i class="icon-email"></i>We have sent you a confirmation email.</p>

  <h3 class="heading-medium">What happens next?</h3>

  <p class="text">We have sent you booking request through to your line manager for approval.</p>

  <p class="text">Once approved by your line manager the course provider will be contacted and asked to confirm availability of the course.</p>

  <p class="text">We will contact you with the course logistics once your place is confirmed.</p>

  <p class="text"><a href="/rebrand/user">Visit your profile</a></p>

</main>

{% endblock %}