{% extends "rebrand_layout.html" %}

{% block page_title %}Select date | Course{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/rebrand" class="link-back">Back to course description</a>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Booking a course</span>
    Which date can you attend?
  </h1>

  <div class="booking-section">

    <p class="text">Check on which dates you can attend and in which locations, then select a suitable option below</p>

    <table class="course-select-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Start date</th>
          <th>Duration</th>
          <th>Location</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="currently-selected">
          <td>Unconscious bias workshop</td>
          <td>22nd Nov 2015</td>
          <td>1 day</td>
          <td>London</td>
          <td>£235</td>
          <td><a class="date-selection" href="#">select</a><span class="status-selected">selected</span></td>
        </tr>
        <tr>
          <td>Unconscious bias workshop</td>
          <td>14th Dec 2015</td>
          <td>1 day</td>
          <td>London</td>
          <td>£235</td>
          <td><a class="date-selection" href="#">select</a><span class="status-selected">selected</span></td>
        </tr>
        <tr>
          <td>Unconscious bias workshop</td>
          <td>19th Feb 2016</td>
          <td>1 day</td>
          <td>Manchester</td>
          <td>£235</td>
          <td><a class="date-selection" href="#">select</a><span class="status-selected">selected</span></td>
        </tr>
        <tr>
          <td>Unconscious bias workshop</td>
          <td>24th Mar 2016</td>
          <td>1 day</td>
          <td>London</td>
          <td>£235</td>
          <td><a class="date-selection" href="#">select</a><span class="status-selected">selected</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="booking-section">
    <div class="flat-tabs">
      <ul>
        <li data-tab-pane="prebooking-info" class="active"><a href="">Before you book</a></li>
        <li data-tab-pane="tsandcs"><a href="">Terms and conditions</a></li>
      </ul>
    </div>

    <div class="tab-pane" id="prebooking-info">
      <p class="text">You'll need:</p>
      <ul class="list-bullet">
        <li>to be eligible for the course</li>
        <li>have approval from your line manger (or equivalent)</li>
        <li>have a PO from your finance team, a GPC card or the name and email of your finance approver</li>
      </ul>
      <p class="text">Once a request has been made you and your line manager will receive a receipt of your request.</p>
      <p class="text">Your finance department and course provider will also be asked to confirm your request. This should take about 1 week.</p>
    </div>

    <div class="tab-pane text" id="tsandcs">
      <!-- given course, include right ts and cs -->
      {% include "partials/termsandconditions.html" ignore missing %}
    </div>

  </div>

  <div class="panel-indent">
    <p>By booking this course you are agreeing to the terms and conditions</p>
  </div>

  <div class="button-group--stacked">
    <a href="/rebrand/course-payment" class="button">Book selected course</a>
  </div>

</main>

{% endblock %}