{% extends "rebrand_layout.html" %}

{% block page_title %}Select date | Course{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Select course date</h1>


  <div class="flat-tabs">
    <ul>
      <li data-tab-pane="prebooking-info" class="active"><a href="">Before you book</a></li>
      <li data-tab-pane="tsandcs"><a href="">Terms and conditions</a></li>
    </ul>
  </div>

  <div class="tab-pane" id="prebooking-info">info you need before booking</div>
  <div class="tab-pane text" id="tsandcs">
    <h3 class="heading-medium">Terms and Conditions</h3>
    <p>If the learner or department cancels 21 calendar days or less from the start date of the programme the learner and / or department will be liable for a cancellation cost</p>
    <table>
      <thead>
        <tr>
          <th>Notification given</th>
          <th>% Price payable</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>22 days or more (before the event)</td>
          <td>0</td>
        </tr>
        <tr>
          <td>14 - 21 days</td>
          <td>20%</td>
        </tr>
        <tr>
          <td>7 - 13 days</td>
          <td>30%</td>
        </tr>
        <tr>
          <td>Less then 7</td>
          <td>60%</td>
        </tr>
        <tr>
          <td>Fail to attend</td>
          <td>100%</td>
        </tr>
      </tbody>
    </table>
    <p>If you can procure a substitution on the same event from your team then no charge applies. You must inform us of any changes by e-mail to info@civilservicelearning.org.uk or call 0203 367 8316 prior to the start date.</p>
    <p>We reserve the right to cancel a course if minimum delegate numbers have not been reached.</p>
  </div>

  <div class="panel-indent">
    <p>By booking this course you are agreeing to the terms and conditions</p>
  </div>

  <button class="button">Book now</button>

</main>

{% endblock %}