{% extends "rebrand_layout.html" %}

{% block page_title %}Select date | Course{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Select course date</h1>


  <div class="flat-tabs">
    <ul>
      <li data-tab-pane="prebooking-info" class="active"><a href="">Before you book</a></li>
      <li data-tab-pane="tsandcs"><a href="">Terms and conditions</a></li>
    </ul>
  </div>

  <div class="tab-pane" id="prebooking-info">info you need before booking</div>
  <div class="tab-pane" id="tsandcs">Ts & Cs and that</div>

</main>

{% endblock %}