<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang=""><![endif]-->
<!--[if gt IE 8]><!--><html lang=""><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>GOV.UK - The best place to find government services and information</title>

    {% assets "rebrand/css/email.scss",
       filters="scss", output="gen/css/email.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
  </head>

  <body>

    <a href="/">&lt; back</a>

    <div class="email">
      <header class="email__meta">
        <p class="email__meta__item"><span>To:</span>colm.britton@digital.cabinet-office.gov.uk</p>
        <p class="email__meta__item"><span>From:</span>csl-booking@csl.gov.uk</p>
        <p class="email__meta__item"><span>Subject</span>HD123GH Booking confirmed</p>
      </header>
      <article class="email__content">
        <p>Hi Colm,</p>
        
        <p>We are glad to confirm that a place at the <b><a href="/rebrand/course/unconscious-bias-workshop-confirmed">Unconscious bias workshop</a></b> has been booked for you.</p>

        <p>You will find all the logistic information on <a href="/rebrand/user-newcourse/confirmed">your CSL profile</a>. Please don't hesitate to contact us if you need any more information on <a href="mailto:info@civilservicelearning.org.uk">info@civilservicelearning.org.uk</a> or call 0203 367 8316.</p> 

        <p>Yours,</p>

        <p>John Fitzpatrick</p>
      </article>
    </div>
  </body>
</html>