{% extends "rebrand_layout.html" %}

{% block page_title %}Learning grid{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Finance learning grid</h1>

  <table class="table gridcopy">
    <thead>
      <tr>
        <th class="empty"></th>
        <th>Technical</th>
        <th>Leadership</th>
        <th>Strategic</th>
        <th>Functional capability</th>
        <th>Core skills</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="axis">Advanced</td>
        <td><a href="">Study for a professional qualification</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">Decision making in government</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href=""></a></td>
      </tr>
      <tr>
        <td class="axis">Intermediate</td>
        <td><a href="">Study for a professional qualification</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">Advanced communications skills economics for non- economist</a></td>
      </tr>
      <tr>
        <td class="axis">Foundation</td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
      </tr>
    </tbody>
  </table>

  <hr class="example-separator" />

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Technical</th>
        <th>Leadership</th>
        <th>Strategic</th>
        <th>Functional capability</th>
        <th>Core skills</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="axis">Advanced</td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
      </tr>
      <tr>
        <td class="axis">Intermediate</td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
      </tr>
      <tr>
        <td class="axis">Foundation</td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
      </tr>
    </tbody>
  </table>

  <hr class="example-separator" />

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Technical</th>
        <th>Leadership</th>
        <th>Strategic</th>
        <th>Functional capability</th>
        <th>Core skills</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="axis">Advanced</td>
        <td><a href="">1</a></td>
        <td><a href="">7</a></td>
        <td><a href="">1</a></td>
        <td><a href="">3</a></td>
        <td><a href="">0</a></td>
      </tr>
      <tr>
        <td class="axis">Intermediate</td>
        <td><a href="">1</a></td>
        <td><a href="">5</a></td>
        <td><a href="">2</a></td>
        <td><a href="">4</a></td>
        <td><a href="">1</a></td>
      </tr>
      <tr>
        <td class="axis">Foundation</td>
        <td><a href="">8</a></td>
        <td><a href="">7</a></td>
        <td><a href="">4</a></td>
        <td><a href="">10</a></td>
        <td><a href="">11</a></td>
      </tr>
    </tbody>
  </table>

</main>

<div class="feedback-footer">
  <a href="">Is there anything wrong with this page?</a>
</div>
{% endblock %}