{% extends "rebrand_layout.html" %}

{% block page_title %}Learning grid{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Finance learning grid</h1>

  <table class="table gridcopy">
    <thead>
      <tr>
        <th class="empty"></th>
        <th>Technical</th>
        <th>Leadership</th>
        <th>Strategic</th>
        <th>Functional capability</th>
        <th>Core skills</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="axis">Advanced</td>
        <td><a href="">Study for a professional qualification</a></td>
        <td><a href="#adv-leadership">7 learning opportunities</a></td>
        <td><a href="">Decision making in government</a></td>
        <td><a href="#adv-funcap">3 learning opportunities</a></td>
        <td><a href=""></a></td>
      </tr>
      <tr>
        <td class="axis">Intermediate</td>
        <td><a href="">Study for a professional qualification</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">Advanced communications skills economics for non- economist</a></td>
      </tr>
      <tr>
        <td class="axis">Foundation</td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
      </tr>
    </tbody>
  </table>

  <div id="adv-leadership" class="professions_modal_content">
    <h3 class="heading-medium">Leadership: Advanced</h3>
    <ul class="list-bullet">
      <li><a href="/learning-opportunities/facetoface/financial-leadership-decision-making-and-achieving-better-value-money-0?grid" target="_blank">Financial Leadership: Decision-Making and Achieving Better Value for Money</a></li>
      <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/commercial-skills-leaders-0" target="_blank">Commercial skills for leaders</a> - (SCS only)</li>
      <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/leadership-masterclass-%E2%80%93-accountability-understanding-managing-public-money-0" target="_blank">Leadership Masterclass - Accountability: Understanding Managing Public Money</a> - (6&amp;7 - SCS)</li>
      <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/leadership-masterclass-%E2%80%93-successful-contract-negotiation" target="_blank">Leadership Masterclass - Successful negotiation skills</a> - (6&amp;7 - SCS)</li>
      <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/scs-change-leaders-programme" target="_blank">SCS Change Leaders Programme</a></li>
      <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/be-leader-you-can-be-introduction-future-engage-deliver" target="_blank">Be The Leader You Can Be: An Introduction To The Future-engage-deliver</a> - (6&amp;7 - SCS)</li>
      <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/leading-transform" target="_blank">Leading to Transform</a></li>
    </ul>
  </div>

  <div id="adv-funcap" class="professions_modal_content">
    <h3 class="heading-medium">Functional capability: advanced</h3>
    <ul class="list-bullet">
      <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/developing-commercial-awareness-masterclass" target="_blank">Commercial &amp; Financial Acumen For Leaders</a> - (6&amp;7 - SCS)</li>
      <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/leadership-masterclass-%E2%80%93-successful-contract-negotiation" target="_blank">Successful contract negotiation</a> - (6&amp;7 - SCS)</li>
      <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/tailored-coaching-committee-appearances" target="_blank">Tailored Coaching for Committee Appearances</a> - (SCS only)</li>
    </ul>
  </div>

  <hr class="example-separator" />

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Technical</th>
        <th>Leadership</th>
        <th>Strategic</th>
        <th>Functional capability</th>
        <th>Core skills</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="axis">Advanced</td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
      </tr>
      <tr>
        <td class="axis">Intermediate</td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
      </tr>
      <tr>
        <td class="axis">Foundation</td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
      </tr>
    </tbody>
  </table>

  <hr class="example-separator" />

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Technical</th>
        <th>Leadership</th>
        <th>Strategic</th>
        <th>Functional capability</th>
        <th>Core skills</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="axis">Advanced</td>
        <td><a href="">1</a></td>
        <td><a href="">7</a></td>
        <td><a href="">1</a></td>
        <td><a href="">3</a></td>
        <td><a href="">0</a></td>
      </tr>
      <tr>
        <td class="axis">Intermediate</td>
        <td><a href="">1</a></td>
        <td><a href="">5</a></td>
        <td><a href="">2</a></td>
        <td><a href="">4</a></td>
        <td><a href="">1</a></td>
      </tr>
      <tr>
        <td class="axis">Foundation</td>
        <td><a href="">8</a></td>
        <td><a href="">7</a></td>
        <td><a href="">4</a></td>
        <td><a href="">10</a></td>
        <td><a href="">11</a></td>
      </tr>
    </tbody>
  </table>

</main>

<div class="feedback-footer">
  <a href="">Is there anything wrong with this page?</a>
</div>
{% endblock %}