{% extends "rebrand_layout.html" %}

{% block page_title %}Learning grid{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Finance learning grid</h1>

  <table id="learning-grid" class="table gridcopy">
    <thead>
      <tr>
        <th class="empty"></th>
        <th>Technical</th>
        <th>Leadership</th>
        <th>Strategic</th>
        <th>Functional capability</th>
        <th>Core skills</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="axis">Advanced</td>
        <td><a href="">Study for a professional qualification</a></td>
        <td><a href="#adv-leadership">7 learning opportunities</a></td>
        <td><a href="">Decision making in government</a></td>
        <td><a href="#adv-funcap">3 learning opportunities</a></td>
        <td><a href=""></a></td>
      </tr>
      <tr>
        <td class="axis">Intermediate</td>
        <td><a href="">Study for a professional qualification</a></td>
        <td><a href="#int-leadership">5 learning opportunities</a></td>
        <td><a href="#int-strategic">2 learning opportunities</a></td>
        <td><a href="#int-funcap">4 learning opportunities</a></td>
        <td><a href="#int-core">Advanced communications skills economics for non- economist</a></td>
      </tr>
      <tr>
        <td class="axis">Foundation</td>
        <td><a href="#foun-technical">8 learning opportunities</a></td>
        <td><a href="#foun-leadership">7 learning opportunities</a></td>
        <td><a href="#foun-strategic">4 learning opportunities</a></td>
        <td><a href="#foun-funcap">10 learning opportunities</a></td>
        <td><a href="#foun-core">11 learning opportunities</a></td>
      </tr>
    </tbody>
  </table>

  <div class="level-separator">
    <h2 class="heading-large">Advanced</h2>
    <a href="#learning-grid" class="back-to-grid">&#8593; view learning grid</a>

    <div id="adv-leadership" class="professions_modal_content">
      <h3 class="heading-medium">Leadership</h3>
      <ul class="list-bullet">
        <li><a href="/learning-opportunities/facetoface/financial-leadership-decision-making-and-achieving-better-value-money-0?grid" target="_blank">Financial Leadership: Decision-Making and Achieving Better Value for Money</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/commercial-skills-leaders-0" target="_blank">Commercial skills for leaders</a> - (SCS only)</li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/leadership-masterclass-%E2%80%93-accountability-understanding-managing-public-money-0" target="_blank">Leadership Masterclass - Accountability: Understanding Managing Public Money</a> - (6&amp;7 - SCS)</li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/leadership-masterclass-%E2%80%93-successful-contract-negotiation" target="_blank">Leadership Masterclass - Successful negotiation skills</a> - (6&amp;7 - SCS)</li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/scs-change-leaders-programme" target="_blank">SCS Change Leaders Programme</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/be-leader-you-can-be-introduction-future-engage-deliver" target="_blank">Be The Leader You Can Be: An Introduction To The Future-engage-deliver</a> - (6&amp;7 - SCS)</li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/leading-transform" target="_blank">Leading to Transform</a></li>
      </ul>
    </div>

    <div id="adv-funcap" class="professions_modal_content">
      <h3 class="heading-medium">Functional capability</h3>
      <ul class="list-bullet">
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/developing-commercial-awareness-masterclass" target="_blank">Commercial &amp; Financial Acumen For Leaders</a> - (6&amp;7 - SCS)</li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/leadership-masterclass-%E2%80%93-successful-contract-negotiation" target="_blank">Successful contract negotiation</a> - (6&amp;7 - SCS)</li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/facetoface/tailored-coaching-committee-appearances" target="_blank">Tailored Coaching for Committee Appearances</a> - (SCS only)</li>
      </ul>
    </div>
  </div><!-- end level-separator Advanced -->

  <div class="level-separator">
    <h2 class="heading-large">Intermediate</h2>
    <a href="#learning-grid" class="back-to-grid">&#8593; view learning grid</a>

    <div id="#int-leadership" class="professions_modal_content">
      <h3 class="heading-medium">Leadership</h3>
      <ul class="list-bullet">
        <li><a href="">Leading with purpose</a></li>
        <li><a href="">Change Leaders for Senior Managers /a> - (6&7)</li>
        <li><a href="">Managing Change - Influencing Skills for Senior Managers</a></li>
        <li><a href="">WIG - Leading and Performing in Complex Times</a></li>
        <li><a href="">All Leadership Masterclasses</a></li>
      </ul>
    </div>

    <div id="#int-strategic" class="professions_modal_content">
      <h3 class="heading-medium">Strategic</h3>
      <ul class="list-bullet">
        <li><a href="">Innovative Delivery Models</a></li>
        <li><a href="">Operating Strategically</a></li>
      </ul>
    </div>

    <div id="#int-funcap" class="professions_modal_content">
      <h3 class="heading-medium">Functional capability</h3>
      <ul class="list-bullet">
        <li><a href="">Effective Commercial Planning & Contracting</a> - (HEO - 6&7)</li>
        <li><a href="">Achieving Supplier Engagement</a> - (HEO - 6&7)</li>
        <li><a href="">Budget Management</a> - (EO - 7)</li>
        <li><a href="">Managing Contractors</a> - (EO - 6&7)</li>
      </ul>
    </div>
  </div><!-- end level separator intermediate -->

  <div class="level-separator">
    <h2 class="heading-large">Foundation</h2>
    <a href="#learning-grid" class="back-to-grid">&#8593; view learning grid</a>

    <div id="#foun-technical" class="professions_modal_content">
      <h3 class="heading-medium">Technical</h3>
      <ul class="list-bullet">
        <li><a href="">Study for a professional qualification</a></li>
        <li><a href="">Managing Public Money (Guidance)</a></li>
        <li><a href="">Public Spending and Reporting (Guidance)</a></li>
        <li><a href="">FREM (Guidance) Interpretation of accounts</a></li>
        <li><a href="">Government Financial Reporting Manual (guidance)</a></li>
        <li><a href="">Public Spending and Reporting (Guidance)</a></li>
        <li><a href="">Green Book and Business Case (Guidance)</a></li>
        <li><a href="">Whole of Government Accounts (Guidance)</a></li>
      </ul>
    </div>


    <div id="#foun-leadership" class="professions_modal_content">
      <h3 class="heading-medium">Leadership</h3>
      <ul class="list-bullet">
        <li><a href="">Collaborating and Partnership</a></li>
        <li><a href="">Managing Business Performance - Working Across Boundaries</a></li>
        <li><a href="">Managing Business Performance - Negotiation Skills</a></li>
        <li><a href="">Managing People - Coaching and Feedback Skills</a></li>
        <li><a href="">Unconscious Bias</a></li>
        <li><a href="">Influencing Skills - Enhancing your credibility</a></li>
        <li><a href="">Leadership and Management Courses</a></li>
      </ul>
    </div>

    <div id="#foun-strategic" class="professions_modal_content">
      <h3 class="heading-medium">Strategic</h3>
      <ul class="list-bullet">
        <li><a href="">Risk</a></li>
        <li><a href="">Analysis and use of evidence Strategic Business Planning</a></li>
        <li><a href="">Market Economics</a></li>
        <li><a href="">Investment Appraisal</a></li>
      </ul>
    </div>

    <div id="#foun-funcap" class="professions_modal_content">
      <h3 class="heading-medium">Functional capability</h3>
      <ul class="list-bullet">
        <li><a href="">Corporate Finance</a></li>
        <li><a href="">Budget Management</a></li>
        <li><a href="">Commercial Awareness e-learning package</a></li>
        <li><a href="">Financial Planning and Control 1</a></li>
        <li><a href="">Financial Planning and Control 2</a></li>
        <li><a href="">Resource Based Management 1</a></li>
        <li><a href="">Resource Based Management 2</a></li>
        <li><a href="">Achieving Supplier Engagement</a></li>
        <li><a href="">Financial Leadership - Decision-Making and Achieving Better Value for Money</a></li>
        <li><a href="">Finance Foundations</a></li>
      </ul>
    </div>

    <div id="#foun-core" class="professions_modal_content">
      <h3 class="heading-medium">Core skills</h3>
      <ul class="list-bullet">
        <li><a href="">Understanding the Civil Service</a></li>
        <li><a href="">Civil Service Written Communication</a></li>
        <li><a href="">Counter Fraud and Corruption</a></li>
        <li><a href="">Briefing and Submissions</a></li>
        <li><a href="">Presentation Skills</a></li>
        <li><a href="">Effective Communication</a></li>
        <li><a href="">Information Management</a></li>
        <li><a href="">Successful Project Delivery</a></li>
        <li><a href="">IT Skills - Excel, Powerpoint, etc.</a></li>
        <li><a href="">Workshop for Senior Responsible Owner</a></li>
        <li><a href="">Performance Indicators</a></li>
      </ul>
    </div>
  </div><!-- end level-separator foundation -->

  <!--<hr class="example-separator" />

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Technical</th>
        <th>Leadership</th>
        <th>Strategic</th>
        <th>Functional capability</th>
        <th>Core skills</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="axis">Advanced</td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
      </tr>
      <tr>
        <td class="axis">Intermediate</td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
      </tr>
      <tr>
        <td class="axis">Foundation</td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
        <td><a href="">View all learning</a></td>
      </tr>
    </tbody>
  </table>

  <hr class="example-separator" />

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Technical</th>
        <th>Leadership</th>
        <th>Strategic</th>
        <th>Functional capability</th>
        <th>Core skills</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="axis">Advanced</td>
        <td><a href="">1</a></td>
        <td><a href="">7</a></td>
        <td><a href="">1</a></td>
        <td><a href="">3</a></td>
        <td><a href="">0</a></td>
      </tr>
      <tr>
        <td class="axis">Intermediate</td>
        <td><a href="">1</a></td>
        <td><a href="">5</a></td>
        <td><a href="">2</a></td>
        <td><a href="">4</a></td>
        <td><a href="">1</a></td>
      </tr>
      <tr>
        <td class="axis">Foundation</td>
        <td><a href="">8</a></td>
        <td><a href="">7</a></td>
        <td><a href="">4</a></td>
        <td><a href="">10</a></td>
        <td><a href="">11</a></td>
      </tr>
    </tbody>
  </table>-->

</main>

<div class="feedback-footer">
  <a href="">Is there anything wrong with this page?</a>
</div>
{% endblock %}