{% extends "rebrand_layout.html" %}

{% block page_title %}Your profile | CSL{% endblock %}

{% block content %}
<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="/index#rebranded-pages">CSL rebrand</a></li>
      <li>Profile</li>
    </ol>
  </div>

  <h1 class="heading-xlarge">User profile</h1>

  <nav class="activity-navigation">
      <ul class="tabs">
          <li><a href="#your-details" class="current">Your details</a></li>
          <li><a href="#vehicles" class="">Planned training</a></li>
          <li><a href="#points">Completed training</a></li>
      </ul>
  </nav>

  <section id="your-details">
    <h2 class="visually-hidden">Your details</h2>
    <dl class="summary-list-inline">
      <dt class="visually-hidden">Name</dt>
      <dd class="info-highlight">Colm Britton</dd>
      <dt>Grade</dt>
      <dd>Senior Managers (Grade 6/7)</dd>
      <dt>Organisation</dt>
      <dd>Cabinet Office</dd>
      <dt>Location</dt>
      <dd>London</dd>
      <dt>Highest Qualification Level attained</dt>
      <dd>Level 6</dd>
      <dt>Qualification currently undertaking</dt>
      <dd>Level 6</dd>
    </dl>

    <h2 class="heading-medium">Contact info</h2>
    <dl class="summary-list-inline">
      <dt>Email</dt>
      <dd>colm.britton@digital.cabinet-office.gov.uk</dd>
      <dt>Phone</dt>
      <dd>07590519465</dd>
    </dl>

    <h2 class="heading-medium">Manager details</h2>
    <dl class="summary-list-inline">
      <dt>Name</dt>
      <dd>Imogen Casebourne</dd>
      <dt>Email</dt>
      <dd>icasebourne@epiclearninggroup.com</dd>
    </dl>
  </section>

</main>

{% endblock %}