{% extends "rebrand_layout.html" %}

{% block page_title %}Your profile | CSL{% endblock %}

{% block content %}
<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="/index#rebranded-pages">CSL rebrand</a></li>
      <li>Profile</li>
    </ol>
  </div>

  <h1 class="heading-xlarge">User profile</h1>

  <nav class="activity-navigation">
      <ul class="tabs">
          <li><a href="#your-details" class="current">Your details</a></li>
          <li><a href="#vehicles" class="">Planned training</a></li>
          <li><a href="#points">Completed training</a></li>
      </ul>
  </nav>

</main>

{% endblock %}