{% extends "rebrand_layout.html" %}

{% block page_title %}Your profile | CSL{% endblock %}

{% block content %}
<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="/index#rebranded-pages">CSL rebrand</a></li>
      <li>Profile</li>
    </ol>
  </div>

  <header class="profile_header">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">Signed in as:</span>
      Colm Britton
    </h1>

    <form action="" class="profile-search-form">
      <div class="main-search main-search--csl">
        <input type="text" class="search__input" id="person-search" placeholder="Search CSL for courses">
        <input class="search__submit" type="submit" value="Search">
      </div>
    </form>
  </header>

  <nav class="activity-navigation">
      <ul class="tabs">
          <li><a href="#your-details" class="current" data-tab-section="your-details">Your details</a></li>
          <li><a href="#current-courses" data-tab-section="current-courses">Planned training{% if booking_status is defined %}<span class="notification--small">1</span>{% endif %}</a></li>
          <li><a href="#completed-courses" data-tab-section="completed-courses">Completed training</a></li>
      </ul>
  </nav>

  <section id="your-details" class="tab-content">
    <div class="profile-section">
      <h2 class="visually-hidden">Your details</h2>
      <dl class="summary-list-inline">
        <!--<dt class="visually-hidden">Name</dt>
        <dd class="info-highlight">Colm Britton</dd>-->
        <dt>Grade</dt>
        <dd>Senior Managers (Grade 6/7)</dd>
        <dt>Organisation</dt>
        <dd>Cabinet Office</dd>
        <dt>Location</dt>
        <dd>London</dd>
        <dt>Highest Qualification Level attained</dt>
        <dd>Level 6</dd>
        <dt>Qualification currently undertaking</dt>
        <dd>Level 6</dd>
      </dl>
    </div>

    <div class="profile-section profile-section__editable">
      <a href="" class="btn-edit">Update contact details</a>
      <h2 class="heading-medium profile-section-heading">Contact info</h2>
      <dl class="summary-list-inline">
        <dt>Email</dt>
        <dd>colm.britton@digital.cabinet-office.gov.uk</dd>
        <dt>Phone</dt>
        <dd>07590519465</dd>
      </dl>
    </div>

    <div class="profile-section profile-section__editable">
      <a href="" class="btn-edit">Update line manager details</a>
      <h2 class="heading-medium profile-section-heading">Manager details</h2>
      <dl class="summary-list-inline">
        <dt>Name</dt>
        <dd>Simon Everest</dd>
        <dt>Email</dt>
        <dd>Simon.everest@digital.cabinet-office.gov.uk</dd>
      </dl>
    </div>
  </section>

  <section id="current-courses" class="tab-content">
    <h2 class="heading-medium">In progress</h2>
    <p>You have started the courses below without finishing them.</p>
    <ul class="list-bullet course-list--profile">
      <li>
        <div class="course-wrapper">
          <ul class="course-details">
            <li class="course-detail"><a class="highlight" href="/rebrand/course/running-small-projects">Running small projects</a></li>
            <li class="course-detail"><span class="secondary">started:</span> 12/06/2015</li>
            <li class="course-detail"><span class="secondary">last visited:</span> 23/08/2015</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="course-wrapper">
          <ul class="course-details">
            <li class="course-detail"><a class="highlight" href="/rebrand/course/digital-by-default">Digital by default</a></li>
            <li class="course-detail"><span class="secondary">started:</span> 05/07/2015</li>
            <li class="course-detail"><span class="secondary">last visited:</span> 06/07/2015</li>
          </ul>
        </div>
      </li>
    </ul>
    <h2 class="heading-medium">Upcoming face to face courses</h2>
    <p>You have the following face to face opportunities scheduled</p>
    <ul class="list-bullet course-list--profile">
      <li>
        <div class="course-wrapper accordian-head">
          <ul class="course-details">
            <li class="course-detail"><span class="highlight">Change leaders for senior management</span></li>
            <li class="course-detail"><span class="secondary">date:</span> 29/10/2015</li>
          </ul>
          <span class="more-group">
            <button class="btn-more">Show information <img alt="" src="/rebrand/static/images/circle-plus@2x.png" width="16px"></button>
            <button class="btn-less">Hide information <img alt="" src="/rebrand/static/images/circle-minus@2x.png" width="16px"></button>
          </span>
        </div>
        <div class="accordian-content">
          <h4 class="heading-small">Description</h4>
          <p>Senior leaders need to be able to articulate a compelling vision for the future in a way that motivates others. This 1-day workshop instructs you how to inspire and engage others when leading change. <a href="/rebrand/course/change-leaders-for-senior-management">See full description</a></p>
          <div class="grid-row">
            <div class="column-third">
              <dl>
                <dt class="heading-small">Address</dt>
                <dd>Home Office</dd>
                <dd>2 Marsham Street</dd>
                <dd>London</dd>
                <dd>SW1P 4DF</dd>
              </dl>
            </div>
            <div class="column-third">
              <img src="/rebrand/static/images/2ms_csl.png" alt="" />
            </div>
            <div class="column-third"></div>
          </div>
        </div><!-- end accordian content -->
      </li>
      {% if booking_status is defined %}
        {% if booking_status == "waiting" %}
        <li>
          <div class="course-wrapper accordian-head notification--inline">
            <ul class="course-details">
              <li class="course-detail"><span class="highlight">Unconscious bias workshop</span></li>
              <li class="course-detail"><span class="secondary">date:</span> 22/11/2015</li>
              <li class="course-detail course-detail--status"><span class="course-status">Awaiting confirmation</span></li>
            </ul>
            <span class="more-group">
              <button class="btn-more">Show information <img alt="" src="/rebrand/static/images/circle-plus@2x.png" width="16px"></button>
              <button class="btn-less">Hide information <img alt="" src="/rebrand/static/images/circle-minus@2x.png" width="16px"></button>
            </span>
          </div>
          <div class="accordian-content">
            <dl class="definition-inline">
              <dt>Status</dt>
              <dd>Awaiting confirmation from finance department and supplier.</dd>
              <dt>Booking Ref</dt>
              <dd>HD123GH</dd>
            </dl>
            <h4 class="heading-small">Course description</h4>
            <p>This workshop increases awareness of your own behaviours, encouraging you to reflect if you need to make changes to your decision-making and thought processes to ensure you are inclusive and fair. <a href="/rebrand/course/unconscious-bias-workshop-waiting">See full description</a></p>
          </div><!-- end accordian content -->
        </li>
        {% elif booking_status == "confirmed" %}
        <li>
          <div class="course-wrapper accordian-head notification--inline">
            <ul class="course-details">
              <li class="course-detail"><span class="highlight">Unconscious bias workshop</span></li>
              <li class="course-detail"><span class="secondary">date:</span> 22/11/2015</li>
              <li class="course-detail course-detail--status"><span class="course-status--confirmed">Confirmed</span></li>
            </ul>
            <span class="more-group">
              <button class="btn-more">Show information <img alt="" src="/rebrand/static/images/circle-plus@2x.png" width="16px"></button>
              <button class="btn-less">Hide information <img alt="" src="/rebrand/static/images/circle-minus@2x.png" width="16px"></button>
            </span>
          </div>
          <div class="accordian-content">
            <h4 class="heading-small">Description</h4>
            <p>This workshop increases awareness of your own behaviours, encouraging you to reflect if you need to make changes to your decision-making and thought processes to ensure you are inclusive and fair. <a href="/rebrand/course/unconscious-bias-workshop-confirmed">See full description</a></p>
            <dl class="definition-inline time-details">
              <dt>Time</dt>
              <dd>9:00am - 4:00pm</dd>
            </dl>
            <div class="grid-row">
              <div class="column-third">
                <dl>
                  <dt class="heading-small">Location</dt>
                  <dd>Conference Room 3, Ground floor</dd>
                  <dd>Home Office</dd>
                  <dd>2 Marsham Street</dd>
                  <dd>London</dd>
                  <dd>SW1P 4DF</dd>
                </dl>
              </div>
              <div class="column-third">
                <img class="map-details" src="/rebrand/static/images/2ms_csl.png" alt="" />
              </div>
              <div class="column-third"></div>
            </div>
            <p class="panel-indent">Please arrive 30mins early to clear security and register with reception. If you have any problems on the day, please contact CSL on 0203 367 8316.</p>
          </div><!-- end accordian content -->
        </li>
        {% endif %}
      {% endif %}
    </ul>
    <a href="/rebrand/search" class="btn-csl">Find more courses</a>
    <h2 class="heading-medium">Group courses</h2>
    <a href="">Manage bookings</a>
  </section>

  <section id="completed-courses" class="tab-content">
    <h2 class="heading-medium">Recently completed</h2>
    <p>Recently, you have successfully completed these courses</p>
    <ul class="list-bullet">
      <li><a href="">Course 1</a></li>
      <li><a href="">Course 2</a></li>
    </ul>
    <a href="/record">see complete learning record</a>
    <h2 class="heading-medium">Evaluations</h2>
    <h4 class="heading-small">Incomplete evaluations</h4>
    <p>Please leave evaluations for these courses</p>
    <ul class="list-bullet">
      <li><a href="">Course 1</a></li>
      <li><a href="">Course 2</a></li>
    </ul>
    <h4 class="heading-small">Completed evaluations</h4>
    <p>You have recently completed evaluations for the following courses</p>
    <ul class="list-bullet">
      <li><a href="">Course 1</a></li>
      <li><a href="">Course 2</a></li>
    </ul>
    <h2 class="heading-medium">External learning</h2>
    <div class="panel-indent">
      <p>You have no active external learning</p>
    </div>
    <a href="">Add external learning</a>
  </section>

</main>

<div class="feedback-footer">
  <a href="">Is there anything wrong with this page?</a>
</div>

{% endblock %}