{% extends "layout.html" %}

{% block page_title %}Flask prototyping index{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Welcome to the CSL prototypes</h1>

  <p class="lede">Below is a collection of the prototypes developed for CSL</p>

  <h2 class="heading-large">Pages</h2>

  <ul class="list-bullet">
    <li>
      <a href="/profile">
        Example profile
      </a>
    </li>
    <li>
      <a href="/record">
        Learning record
      </a>
    </li>
  </ul>

</main>
{% endblock %}