{% extends "layout.html" %}

{% block page_title %}Flask prototyping index{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Welcome to the CSL prototypes</h1>

  <p class="lede">Below is a collection of the prototypes developed for CSL</p>

  <h2 class="heading-large">Prototypes</h2>

  <h3 class="heading-medium">MVP pages</h3>

  <ul class="list-bullet">
    <li>
      <a href="/profile">
        Example profile
      </a>
    </li>
    <li>
      <a href="/record">
        Learning record
      </a>
    </li>
    <li>
      <a href="/search">
        Course search
      </a>
    </li>
    <li>
      <a href="/courses/digital-by-default">
        Course: digital-by-default
      </a>
    </li>
    <li>
      <a href="/courses/communication-skills">
        Course: Communication Skills for High Stress, High Risk Situations Masterclass
      </a>
    </li>
  </ul>

  <h3 class="heading-medium">Future pages</h3>

  <ul class="list-bullet">
    <li>
      <a href="/future/search">
        Course search
      </a>
    </li>
    <li>
      <a href="/future/calendar-view">
        Calendar view (to do)
      </a>
    </li>
  </ul>

  <h4 class="heading-small">Useful links</h4>

  <ul class="list-bullet">
    <li>
      <a href="https://designpatterns.hackpad.com/List-of-design-patterns-0eUk1OdHvql">List of design patterns</a>
    </li>
  </ul>

</main>
{% endblock %}