{% extends "layout.html" %}

{% block page_title %}Flask prototyping index{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Welcome to the CSL prototypes</h1>

  <p class="lede">Below is a collection of the prototypes developed for CSL</p>

  <h2 class="heading-large">Prototypes</h2>

  <ol class="list-number">
    <li><a href="#rebranded-pages">Rebranded pages</a></li>
    <li><a href="#mvp-pages">MVP pages</a></li>
    <li><a href="#future-pages">Future pages</a></li>
    <li><a href="#useful-links">Useful links</a></li>
  </ol>

  <h3 id="rebranded-pages" class="heading-medium">1. Rebranded pages</h3>

  <p class="text">A collection of current CSL pages rebranded to use the GOV.UK styles. These are examples of what the CSL site should look like come January 2015</p>

  <ul class="list-bullet">
    <li><a href="/rebrand/signin">Sign in</a></li>
    <li><a href="/rebrand/professions">Professions and specialisms</a></li>
    <li><a href="/rebrand/guide-priority-learning">Guide to priority learning</a></li>
    <li><a href="/rebrand/commercial">Priority area: Commercial</a></li>
    <li><a href="/rebrand/digital">Priority area: Digital</a></li>
    <li><a href="/rebrand/change-leadership">Priority area: Change leadership</a></li>
    <li><a href="/rebrand/project-delivery">Priority area: Project delivery</a></li>
    <li><a href="/rebrand/how-use-competency-framework">Guide: How to use the competency framework</a></li>
    <li><a href="/rebrand/course/digital-by-default">Course: Digital by default</a></li>
    <li><a href="/rebrand/course/communicating-with-customers">Course: Communicating with customers</a></li>
    <li><a href="/rebrand/course/constructive-conversations">Course: Constructive conversations</a></li>
    <li><a href="/rebrand/course/economics-for-policy-advisors">Course: Economics for policy advisors</a></li>
    <li><a href="/rebrand/course/good-complaint-handling">Course: Good complaint handling</a></li>
    <li><a href="/rebrand/course/neuroscience-of-leadership">Course: Neuroscience of leadership</a></li>
    <li><a href="/rebrand/course/running-small-projects">Course: Running small projects</a></li>
    <li><a href="/rebrand/course/unconscious-bias">Course: Unconscious bias</a></li>
  </ul>

  <h3 id="mvp-pages" class="heading-medium">2. MVP pages</h3>

  <p class="text">A collection of designs and pages of what the CSL service could look and operate like in it's simplest form</p>

  <ul class="list-bullet">
    <li>
      <a href="/profile">
        Example profile
      </a>
    </li>
    <li>
      <a href="/record">
        Learning record
      </a>
    </li>
    <li>
      <a href="/search">
        Course search
      </a>
    </li>
    <li>
      <a href="/courses/digital-by-default">
        Course: digital-by-default
      </a>
    </li>
    <li>
      <a href="/courses/communication-skills">
        Course: Communication Skills for High Stress, High Risk Situations Masterclass
      </a>
    </li>
    <li>
      <a href="/courses/unconscious-bias">
        Course: Unconscious bias
      </a>
    </li>
  </ul>

  <h3 id="future-pages" class="heading-medium">3. Future pages</h3>

  <p class="text">A collection of designs and pages exploring what a future, more effective and immersive service CSL could be.</p>

  <ul class="list-bullet">
    <li>
      <a href="/future/search">
        Course search
      </a>
    </li>
    <li>
      <a href="/future/calendar-view">
        Calendar view (to do)
      </a>
    </li>
  </ul>

  <h4 id="useful-links" class="heading-small">4. Useful links</h4>

  <p class="text">A list of resources that are useful to use and understand when developing digital services (esp. in Government)</p>

  <ul class="list-bullet">
    <li>
      <a href="https://designpatterns.hackpad.com/List-of-design-patterns-0eUk1OdHvql">List of design patterns</a>
    </li>
  </ul>

</main>
{% endblock %}