{% extends "layout.html" %}

{% block page_title %}Profile page{% endblock %}

{% block head %}

  {{ super() }}

  {% assets "css_profile" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "partials/nav-strip.html" ignore missing %}

  <section class="profile-section--top">
    <div class="grid-row">
    <div class="column-half">

      <section class="profile">
        <img class="profile__image" src="/static/images/colm-britton.jpg" alt="" />
        <h2 class="profile__name">Colm Britton</h2>
        <p>colm.britton@digital.cabinet-office.gov.uk</p>
      </section>

      <table>
        <tbody>
          <tr>
            <td>Profession</td>
            <td>Digital</td>
          </tr>
          <tr>
            <td>Notifications</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="column-half">
      <section class="component--finder">
        <h2 class="heading-small">Quick course search</h2>
        <p>Search by name, skill or keyword</p>
        <form action="" class="form">
          <div class="form-group main-search search--dark">
            <label class="people-finder-label search__placeholder" for="person-search">find courses</label>
            <input type="text" class="people-finder-input search__input" id="person-search">
            <input class="submit search__submit" type="submit" value="Search">
          </div>
        </form>
      </section>
    </div>

  </div>
  </section>

  <section class="profile-section">
    <h2 class="heading-medium profile-section__heading">Upcoming courses</h2>
    <div class="grid-row">
      <div class="column-half">
        <h3 class="heading-small">Mandatory</h2>
        <ul class="course-list">

          {% from "partials/course_list.html" import build_course_item %}
          {% for course in courses.mandatory %}
            {{ build_course_item(course) }}
          {% endfor %}

        </ul>
        <a class="foot-link" href="/learning/mandatory">see full list of mandatory courses</a>
      </div>

      <div class="column-half">
        <h3 class="heading-small">Self learning</h2>
        <ul class="course-list">

          {% from "partials/course_list.html" import build_course_item %}
          {% for course in courses.personal %}
            {{ build_course_item(course) }}
          {% endfor %}

        </ul>
      </div>
    </div>
  </section>

  <section class="profile-section">
    <h2 class="heading-medium profile-section__heading">Find a mentor</h2>
  </section>

  <section class="profile-section">
    <h2 class="heading-medium profile-section__heading">Recommended learning</h2>
  </section>

</main>
{% endblock %}

{% block body_end %}

  {{ super() }}

  <script type="text/javascript">
  (function($){
    $(function() {
      // redirect to search page
      $(".search__submit").on("click", function(e) {
        e.preventDefault();
        window.location.href = "/search";
        return false;
      });
    });
  }(jQuery));
  </script>

{% endblock %}