{% extends "govuk_template/views/layouts/govuk_template.html" %}

{% block head %}

  <!-- Styleguide website only assets - for examples and code highlighting -->
  <!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" href="/static/vendor/prism/prism.css"><!--<![endif]-->

  <link rel="stylesheet" href="/static/govuk_template/assets/stylesheets/govuk-template.css">

  {% assets "css_styleguide" %}
    <link rel="stylesheet" type="text/css"  media="screen" href="{{ ASSET_URL }}">
  {% endassets %}

{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href='/' id='proposition-name'>Civil Service Learning</a>
      <ul id="proposition-links">
        <li><a href="/index">Prototypes</a></li>
        <li><a href="/styleguide" class="active">Styleguide</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}

{% block body_end %}

  <!-- Styleguide website only assets - for examples and code highlighting -->
  <!--[if gt IE 8]><!--><script type="text/javascript" src="/static/vendor/prism/prism.js"></script><!--<![endif]-->

  {# js scripts here #}

{% endblock %}
