{% extends "styleguide_layout.html" %}

{% block page_title %}Styleguide{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="text">

    <h1 class="heading-xlarge">Styleguide</h1>

    <p class="lede">Example of a styleguide with components</p>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="example-view">
        {% include "snippets/radio-stacked.html" ignore missing %}
      </div>
    </div>
    <div class="column-third">
      <div class="example-code">
<pre><code class="language-markup">{{ include_raw('snippets/radio-stacked.html') | escape }}</code></pre>
      </div>
    </div>
  </div>

</main>

{% endblock %}