{% extends "styleguide_layout.html" %}

{% block page_title %}Styleguide{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="text">

    <h1 class="heading-xlarge">Styleguide</h1>

    <p class="lede">Example of a styleguide with components</p>

  </div>

  <h2 class="heading-large">
    Contents
  </h2>

  <ul class="list-bullet">
    <li>
      <a href="styleguide/forms">Forms</a>
    </li>
    <li>
      <a href="styleguide/search">Search</a>
    </li>
    <li>
      <a href="styleguide/typography">Typography</a>
    </li>
    <li>
      <a href="styleguide/components">Components</a>
    </li>
  </ul>

</main>

{% endblock %}