<div class="grid-row">
  <div class="column-third course-metadata-section">
    <h3 class="heading-medium">Level</h3>
    <ul class="list-bullet">
    {% if course.levels is defined %}
      {% for level in course.levels %}
      <li>{{ level }}</li>
      {% endfor %}
    {% else %}
      <li>Administrative Level (AA/AO)</li>
      <li>First Line Managers (EO)</li>
      <li>Middle Managers (HEO/SEO)</li>
      <li>Senior Managers (Grade 6/7)</li>
      <li>Senior Civil Servants (SCS)</li>
    {% endif %}
    </ul>
  </div>
  <div class="column-third course-metadata-section">
    <h3 class="heading-medium">Topic</h3>
    <ul class="list-bullet">
      {% if course.topics is defined %}
        {% for topic in course.topics %}
        <li><a href="https://civilservicelearning.civilservice.gov.uk/core-skills">{{ topic }}</a></li>
        {% endfor %}
      {% else %}
      <li><a href="https://civilservicelearning.civilservice.gov.uk/core-skills">Core Skills</a></li>
      <li><a href="https://civilservicelearning.civilservice.gov.uk/core-skills">Digital & IT</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="column-third course-metadata-section">
    <h3 class="heading-medium">Other information</h3>
    <dl class="definition-inline">
      <dt>Product code</dt>
      <dd>DADD13</dd>
      <dt>Duration</dt>
      <dd>{% if course.duration is defined %} {{ course.duration }} {% endif %}</dd>
    </dl>
  </div>
</div>