{% extends "rebrand_layout.html" %}

{% block page_title %}CSL Courses | Digital by default{% endblock %}

{% block content %}
<main id="content" role="main">

  <h1 class="heading-xlarge">Digital awareness: ‘digital by default’</h1>

  <div class="course-description text">
    <h2 class="heading-large">Description</h2>
    <p>Explaining what ‘digital by default’ means for government and civil servants, this course explores the importance of moving services online for you, your department and the citizen.</p>

    <p>This course uses case studies from across government to demonstrate the different ways government is digitally transforming its services by making them more effective and accessible for customers.</p>

    <h2 class="heading-large">Learning outcomes</h2>
    <p>At the end of this course, you will be able to:</p>

    <ul class="list-bullet">
      <li>explain what ‘digital’ means in a government context</li>
      <li>explain why effective digital services are important</li>
      <li>understand the government digital strategy</li>
    </ul>

    <div class="panel-indent">After completing this course, it may take up to 24 hours for your learning record to be updated.</div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <h3 class="heading-medium">Level</h3>
      <ul class="list-bullet">
        <li>Administrative Level (AA/AO)</li>
        <li>First Line Managers (EO)</li>
        <li>Middle Managers (HEO/SEO)</li>
        <li>Senior Managers (Grade 6/7)</li>
        <li>Senior Civil Servants (SCS)</li>
      </ul>
      <h3 class="heading-medium">Topic</h3>
      <ul class="list-bullet">
        <li><a href="https://civilservicelearning.civilservice.gov.uk/core-skills">Core Skills</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/core-skills">Digital & IT</a></li>
      </ul>
    </div>
    <div class="column-third">
      <h3 class="heading-medium">Related learning material</h3>
      <ul class="list-bullet">
        <li><a href="">Digital Efficiency Report</a></li>
        <li><a href="">Digital Government, Open Architecture, and Innovation: Why Public Sector IT Will Never Be The Same Again</a></li>
        <li><a href="">Digital Inclusion – Resources & Tools</a></li>
        <li><a href="">Digital Landscape research</a></li>
        <li><a href="">Digital and IT capabilities</a></li>
        <li><a href="">Digital Services for Small and Medium Enterprises</a></li>
        <li><a href="">Introduction to social media</a></li>
      </ul>
    </div>
    <div class="column-third">
      <h3 class="heading-medium">Related learning Opportunities</h3>
      <ul class="list-bullet">
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/digital-skills-listening-users">Digital skills - Listening to users</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/digital-skills-starting-user-needs">Digital skills - Starting with user needs</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/digital-skills-transforming-services-agile">Digital skills - Transforming services with Agile</a></li>
        <li><a href="https://civilservicelearning.civilservice.gov.uk/learning-opportunities/digital-skills-using-social-media-public-services">Digital skills - Using social media in public services</a></li>
      </ul>
    </div>
  </div><!-- end grid-row -->

  <div class="grid-row">
    <div class="column-half">
      <h3 class="heading-medium">Digital awareness: 'digital by default'</h3>
      <a href="">add to development plan</a>
      <button class="button">Start this e-learing</button>
    </div>
    <div class="column-half">
      <h3 class="heading-medium">Other information</h3>
      <dl>
        <dt>Product code</dt>
        <dd>DADD13</dd>
        <dt>Duration</dt>
        <dd>30 mins</dd>
      </dl>
      
    </div>
  </div><!-- end grid-row -->

</main>

{% endblock %}