{% extends "course_layout.html" %}

{% block page_title %}CSL Courses | {{ course.title }} {% endblock %}

{% block pricing %}
<h2 class="heading-large">Pricing</h2>

  <p>The price for 1 person is £157.</p>

  <p>A group booking for up to 12 people at an external venue will cost £1,381, or as little as £115 each.</p>

  <p>If  you wish to run this course at your own premises, a group booking for up to 12 people will cost £1,006, or as little as £84 each.  
VAT is not included.</p>

  <p>For further details, please email <a href="mailto:info@civilservicelearning.org.uk">info@civilservicelearning.org.uk</a> or call 020 3367 8316.</p>
{% endblock %}
