<li class="course-result">
  <div class="grid-row course-result__meta">
    <div class="column-two-thirds">
      <i class="fa {% if course.type == 'face2face' %}fa-book{% else %}fa-laptop{% endif %}"></i>
      <span> Course</span>
    </div>
    <div class="column-third ta-right">
      <span>{% if course.duration is defined %}{{ course.duration }}{% else %}1 hr{% endif %}</span>
    </div>
  </div>
  <h3 class="heading-small course-result__title"><a href="{{ course.url }}">{{ course.title }}</a></h3>
  <p class="text">{{ course.desc }}</p>
  <ul class="skills">
    {% for topic in course.topics %}
    <li>{{ topic }}</li>
    {% endfor %}
  </ul>
</li>