{% extends "styleguide_layout.html" %}

{% block page_title %}Styleguide{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Components
  </h1>

  <p class="lede">A collection of components used to layout course related info and associated actions</p>

  <h2 class="heading-medium">Quick actions box</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="example-view">
        {% include "snippets/quick-actions.html" ignore missing %}
      </div>
    </div>
    <div class="column-third">
      <div class="example-code">
<pre><code class="language-markup">{{ include_raw('snippets/quick-actions.html') | escape }}</code></pre>
      </div>
    </div>
  </div>

  <h2 class="heading-medium">Key info summary box</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="example-view">
        {% include "snippets/summary-box.html" ignore missing %}
      </div>
    </div>
    <div class="column-third">
      <div class="example-code">
<pre><code class="language-markup">{{ include_raw('snippets/summary-box.html') | escape }}</code></pre>
      </div>
    </div>
  </div>

</main>

{% endblock %}