{% extends "styleguide_layout.html" %}

{% block page_title %}Styleguide{% endblock %}

{% block content %}

<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="/styleguide">Styleguide</a></li>
      <li>Search</li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    Search
  </h1>

  <p class="text">Search box to be used across the site. It is used in the header on the <a href="/rebrand/profile">profile</a> and then in top banner (similar to <a href="http://gov.uk">GOV.UK</a>).</p>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="example-view">
        {% include "snippets/main-search.html" ignore missing %}
      </div>
    </div>
    <div class="column-third">
      <div class="example-code">
<pre><code class="language-markup">{{ include_raw('snippets/main-search.html') | escape }}</code></pre>
      </div>
    </div>
  </div>

  <p class="text">Use this version of the search box on the front page of the CSL site</p>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="example-view sg-csl-bg">
        {% include "snippets/main-search-dark.html" ignore missing %}
      </div>
    </div>
    <div class="column-third">
      <div class="example-code">
<pre><code class="language-markup">{{ include_raw('snippets/main-search-dark.html') | escape }}</code></pre>
      </div>
    </div>
  </div>

</main>

{% endblock %}