{% extends "styleguide_layout.html" %}

{% block page_title %}Styleguide{% endblock %}

{% block content %}

<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="/styleguide">Styleguide</a></li>
      <li>Typography</li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    Typography
  </h1>

  <p class="lede">A collection of typography styles used across the <abbr title="Civil Service Learning">CSL</abbr> prototypes. These build on those defined by <a href="http://govuk-elements.herokuapp.com/">GOV.UK</a>.</p>

  <h2 class="heading-medium">Heading group</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="example-view">
        {% include "snippets/heading-group.html" ignore missing %}
      </div>
    </div>
    <div class="column-third">
      <div class="example-code">
<pre><code class="language-markup">{{ include_raw('snippets/heading-group.html') | escape }}</code></pre>
      </div>
    </div>
  </div>

</main>

{% endblock %}