{% extends "layout.html" %}

{% block page_title %}Communication Skills for High Stress, High Risk Situations Masterclass | Course | CSL{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/search" class="link-back">back to search</a>

  <header class="header-group">
    <h1 class="sub-heading"><i class="fa fa-book"></i><span> Course</span></h1>
    <h2 class="heading-xlarge post-sub-heading">Communication Skills for High Stress, High Risk Situations Masterclass</h2>
  </header>

  <div class="grid-row course__description">

    <div class="column-two-thirds">
      <div class="text course__description__content">
        <h3 class="heading-large">Description</h3>

        <p>This 1-day masterclass is for anyone from Grade 7 – SCS who are looking to develop their credibility so that they can communicate effectively in emotionally charged situations, such as departmental change programmes or an operational crisis.</p>

        <p>The masterclass offers the opportunity to engage with a highly practical and science-based approach to communicating in high risk situations with one of the world’s foremost authorities. Dr Vincent Covello, the founder and Director of the Center for Risk Communication, is an internationally recognised expert in crisis, conflict, change and risk communications.</p>

        <p>This is one of a series of short, sharp, focussed masterclasses on Civil Service strategic priorities. They are informed by current research and delivered by world-class providers.</p>
    
        <h4 class="heading-medium">Learning Outcomes</h4>
        <p>By the end of this masterclass you will be able to:</p>

        <ul class="list-bullet">
          <li>explain the four components of risk</li>
          <li>understand the nature of risk and crisis communication</li>
          <li>develop your own strategy for communicating in times of change, risk and crisis situations.</li>
        </ul>

        <button class="button">Book course</button>

      </div>
    </div>

    <div class="column-third">
      <div class="quick-actions">
        <h4 class="heading-small quick-actions__heading">Quick actions</h4>
        <ul>
          <li><button class="quick-action__btn">Book now</button></li>
          <li><button class="quick-action__btn">Save to PDP</button></li>
        </ul>
      </div>
    </div>

  </div>

</main>
{% endblock %}