{% extends "layout.html" %}

{% block page_title %}Communication Skills for High Stress, High Risk Situations Masterclass | Course | CSL{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/search" class="link-back">back to search</a>

  <header class="header-group">
    <h1 class="sub-heading"><i class="fa fa-book"></i><span> Course</span></h1>
    <h2 class="heading-xlarge post-sub-heading">Communication Skills for High Stress, High Risk Situations Masterclass</h2>
  </header>

  <div class="text course__description">
    <h3 class="heading-large">Description</h3>
    
    <h4 class="heading-medium">Learning Outcomes</h4>

    <button class="button">Book course</button>

  </div>

</main>
{% endblock %}