{% extends "layout.html" %}

{% block page_title %}Digital by default | Course | CSL{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/search" class="link-back">back to search</a>

  <header class="header-group">
    <h1 class="sub-heading"><i class="fa fa-laptop"></i><span> e-learning</span></h1>
    <h2 class="heading-xlarge post-sub-heading">Digital awareness: 'digital by default'</h2>
  </header>

  <div class="grid-row course__description">
    <div class="column-two-thirds">

      <div class="text course__description__content">
        <h3 class="heading-large">Description</h3>

        <p>
          Explaining what ‘digital by default’ means for government and civil servants, this course explores the importance of moving services online for you, your department and the citizen.</p>

        <p>This course uses case studies from across government to demonstrate the different ways government is digitally transforming its services by making them more effective and accessible for customers.</p>

        <h4 class="heading-medium">Learning Outcomes</h4>

        <p>At the end of this course, you will be able to:</p>

        <ul class="list-bullet">
          <li>explain what ‘digital’ means in a government context</li>
          <li>explain why effective digital services are important</li>
          <li>understand the government digital strategy</li>
        </ul>

        <p class="panel-indent">After completing this course, it may take up to 24 hours for your learning record to be updated.</p>

        <button class="button">Start course</button>

      </div>
    </div>

    <div class="column-third">
      {% include "partials/quick-actions.html" ignore missing %}
    </div>

  </div>
</main>
{% endblock %}