{% extends "rebrand_layout.html" %}

{% block page_title %}CSL Sign in screen{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="guide__header">
    <div class="guide__header__contents">
      <div class="headings">
        <p class="document__type">Guidance</p>
        <h1 class="heading-xlarge">How to use the Competency Framework</h1>
      </div>
      <nav>
        <h2>Contents</h2>
        <ol class="list-number">
          <li><a href="">Why have a standard competency framework?</a></li>
          <li><a href="">What does the competency framework mean for us?</a></li>
          <li><a href="">One framework for all Civil Servants</a></li>
          <li><a href="">The competency levels</a></li>
          <li><a href="">Competency examples for an Operational Delivery EO</a></li>
          <li><a href="">Applying competencies in performance management</a></li>
          <li><a href="">Using the competencies in vacancy filling</a></li>
          <li><a href="">Using the competencies in learning and development</a></li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="guide__content__wrapper grid-row">
    <div class="guide__content column-three-quarters column--ra">

      <h2 class="heading-large">1. Why have a standard competency framework?</h2>
      <ul class="list-bullet">
        <li>A standard framework will help us think of ourselves as part of one Civil Service.</li>
        <li>It sets out the required behaviours we all need to demonstrate now and in the future.</li>
        <li>It was agreed following extensive consultation with employees and senior managers</li>
        <li>Research has proven that competencies provide fair and transparent building blocks for organisations to performance manage, recruit and promote against.</li>
      </ul>

      <h2 class="heading-large">2. What does the competency framework mean for us?</h2>
      <p>It will:</p>

      <ul class="list-bullet">
        <li>Make it easier to apply for jobs across different departments by standardising the competencies used for internal and external vacancy filling.</li>
        <li>Standardise the competencies used in development, making it easier to identify learning needs and access relevant learning solutions through the Civil Service Learning portal.</li>
        <li>Support a clearer understanding of the link between competencies and performance management, providing clear examples of what effective and ineffective behaviours look like.</li>
        <li>Allow us to use our relevant professional competency framework alongside the Civil Service Competency Framework.</li>
      </ul>

      <h2 class="heading-large">3. One framework for all Civil Servants</h2>

      <h3 class="heading-medium">Setting Direction</h3>
      <ul class="list-bullet">
        <li>Seeing the big picture</li>
        <li>Changing and improving</li>
        <li>Making effective decisions</li>
      </ul>
    
      <h3 class="heading-medium">Engaging People</h3>
      <ul class="list-bullet">
        <li>Leading and communicating</li>
        <li>Collaborating and partnering</li>
        <li>Building capability for all</li>
      </ul>

      <h3 class="heading-medium">Delivering Results</h3>
      <ul class="list-bullet">
        <li>Achieving commercial outcomes</li>
        <li>Delivering value for money</li>
        <li>Managing a quality service</li>
        <li>Delivering at pace</li>
      </ul>

      <img src="/rebrand/static/images/CircleDiagram.png" alt="" />

      <h2 class="heading-large">4. The competency levels</h2>
      <p>The CS Competency Framework is divided into the following levels:</p>

      <ul class="list-bullet">
        <li>Level 1 - AA or AO or equivalent</li>
        <li>Level 2 - EO</li>
        <li>Level 3 - HEO or SEO</li>
        <li>Level 4 - Grade 7 or 6</li>
        <li>Level 5 - Deputy Director (SCS pay band 1 or equivalent)</li>
        <li>Level 6 - Director and Director General (SCS payband 2 & 3 or equivalent)</li>
      </ul>

      <h2 class="heading-large">5. Competency examples for an Operational Delivery EO</h2>
      <table class="guide__table">
        <col style="width:30%">
        <col style="width:40%">
        <col style="width:30%">
        <thead>
          <tr>
            <th>Essential Competencies</th>
            <th>Managing a Quality Service</th>
            <th>Effective Behavioural Indicators</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="list-bullet">
                <li>Changing and Improving</li>
                <li>Making Effective Decisions</li>
                <li>Managing a quality Service</li>
                <li>Delivering at Pace</li>
              </ul>
            </td>
            <td>
              Effectiveness in this area is about being organised to deliver service objectives and striving to improve the quality of service, taking account of diverse customer needs and requirements. People who are effective plan, organise and manage their time and activities to deliver a high quality and efficient service, applying programme and project management approaches to support service delivery. At senior levels, it is about creating an environment to deliver operational excellence and creating the most appropriate and cost effective delivery models for public services.
            </td>
            <td>
              <ul class="list-bullet">
                <li>Explain clearly to customers what can be done</li>
                <li>Work with team to set priorities, create clear plans and manage all work to meet the needs of the customer and the business</li>
                <li>Ensure that levels of service are maintained – flag up risks or concerns in order to meet customer requirements</li>
                <li>Keep internal teams, customers and delivery partners fully informed of plans and possibilities</li>
                <li>Promote adherence to relevant policies, procedures, regulations and legislation, including equality and diversity and health and safety</li>
                <li>Identify common problems or weaknesses in policy or procedures that affect service and escalate these</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="heading-large">6. Applying competencies in performance management</h2>
      <ul class="list-bullet">
        <li>The competencies describe the ‘how’, in relation to the knowledge, skills and effective behaviours you need to demonstrate to deliver your objectives.</li>
        <li>Clearly describing effective/ineffective behaviours enables you to have constructive discussions about performance achievements and areas for improvement.</li>
        <li>The competencies are cumulative; each level builds on the levels below.</li>
        <li>The effective/ineffective indicators are not designed to be exhaustive and should not be used as a checklist.</li>
        <li>A performance management e-learning product to describe the ‘how’ and the ‘what’ within the framework is available.</li>
      </ul>

      <h2 class="heading-large">7. Using the competencies in vacancy filling</h2>
      <ul class="list-bullet">
        <li>All internal vacancy filling exercises across the Civil Service use the CS Competency Framework and the relevant professional competencies.</li>
        <li>The essential competencies are identified for each role.</li>
        <li>The competencies are used as a basis for drafting job descriptions and job adverts.</li>
        <li>You will have to submit evidence against competencies when applying for a job.</li>
        <li>They will be used across government to sift and interview candidates on level transfer and progression.</li>
      </ul>

      <h2 class="heading-large">8. Using the competencies in learning and development</h2>
      <ul class="list-bullet">
        <li>The framework will help focus learning and development across the Civil Service.</li>
        <li>The framework should be used to support development discussions.</li>
        <li>If you have a development need you can access relevant learning by using the CSL portal which maps all learning solutions against the competency framework.</li>
        <li>A Competency Framework self assessment tool for all grades is available through the CSL portal.</li>
        <li>A 360 feedback tool is available on the CSL portal which is supported by a development snapshot for each grade.</li>
      </ul>

    </div>
  </div>

</main>
<div class="feedback-footer">
  <a href="">Is there anything wrong with this page?</a>
</div>
{% endblock %}